// --------------------------------------------------
// Typography
// --------------------------------------------------

* {
  box-sizing: border-box;
  outline: none;
}

// Body reset
// --------------------------------------------------
html, body, #root {
  height: 100%;
}

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0;
  padding: 0;
  // font rendering
  -webkit-font-smoothing: antialiased;
}

// Links
// -------------------------

a,
.link {
  color: $color-link;
  text-decoration: none;
  transition: color .2s linear;

  &:hover,
  &:focus {
    color: $color-link-hover;
    outline: 0;
  }
}

// Images
// -------------------------

img {
  vertical-align: middle;
  // max-width: 100%;
}

// Body text
// -------------------------

p {
  margin: 0;
}

// Headings
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  // font-weight: normal;
  margin: 0;
  // text-align: center;
}
