// --------------------------------------------------
// Global Variables
// --------------------------------------------------

// Breakpoints
// -------------------------

// https://getbootstrap.com/docs/4.0/layout/grid/#variables
// Small screen / phone
$screen-sm: 576px;
// Medium screen / tablet
$screen-md: 768px;
// Large screen / desktop
$screen-lg: 992px;
// Extra large screen / wide desktop
$screen-xl: 1200px;
// Super Extra large screen / wide desktop
$screen-xxl: 1600px;

// Colors
// -------------------------

$white: #fff;
$black: #000;
$athens-gray: #f4f4f6;
$mirage: #181c27;
$alto: #d3d3d3;
$mid-gray: #575b67;
$bright-gray: #373d4d;
$international-orange: #f95112;
$cardinal: #d22637;
$apple: #389039;
$havelock-blue: #3f7cd5;
$white-ice: #e1effa;

// link colors
$color-link: $havelock-blue;
$color-link-hover: $havelock-blue;

// content colors
$color-text: $black;
$color-heading: $black;
$color-bg: $athens-gray;
$color-border: $black;

$primary: $havelock-blue;

// Font families
// -------------------------

$font-base: "Proxima Nova Regular",
Geneva,
Verdana,
sans-serif;

// Font sizes
// -------------------------

$font-size-base: 14px;

// Line heights
// -------------------------

$line-height-base: 1.15;
