@import '../../../styles/core/variables';

%flex-align-center {
  display: flex;
  align-items: center;
}

%text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.email-item {
  position: relative;
  padding-left: 30px;
  padding-right: 15px;
  transition: background-color 0.1s;
  cursor: pointer;

  &:hover {
    background-color: $athens-gray;
  }

  &.active {
    background-color: $white-ice;
    outline: 1px solid $primary;

    .email-item-container {
      border-bottom: 1px solid transparent;
    }
  }


  .email-item-container {
    padding: 15px 0;
    border-bottom: 1px solid $alto;
    overflow: hidden;
  }

  .email-info {
    display: flex;
    margin-bottom: 8px;

    width: 100%;

    svg {
      font-size: 10px;
      margin-right: 7px;
    }
  }

  .email-icon {
    @extend %flex-align-center;
  }

  .email-from {
    font-weight: bold;
    max-width: 80%;

    @extend %text-overflow-ellipsis;
  }

  .email-time {
    font-size: 11px;
    color: $mid-gray;
    padding-left: 10px;
    margin-left: auto;

    @extend %flex-align-center;
  }

  .email-subject {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 85%;

    @extend %text-overflow-ellipsis;
  }

  .email-text {
    font-size: 13px;
    color: $mid-gray;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.read {
    .email-info::before {
      content: '';
      position: absolute;
      top: 18px;
      left: 10px;

      display: inline-block;
      border: 1px solid $primary;
      border-radius: 100%;

      width: 6px;
      height: 6px;
    }
  }
}
