@import '../../../styles/core/variables';

%flex-align-center {
  display: flex;
  align-items: center;
}

%text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.email-item {
  padding-left: 30px;
  padding-right: 15px;
  transition: background-color 0.1s;
  cursor: pointer;

  &:hover {
    background-color: $athens-gray;
  }

  &.active {
    background-color: $white-ice;
  }


  .email-item-container {
    padding: 15px 0;
    border-bottom: 1px solid $alto;
  }

  .email-info {
    display: flex;
    margin-bottom: 8px;

    width: 100%;

    svg {
      font-size: 10px;
      margin-right: 7px;
    }
  }

  .email-icon {
    @extend %flex-align-center;
  }

  .email-from {
    font-weight: bold;
    max-width: 80%;

    @extend %text-overflow-ellipsis;
  }

  .email-time {
    font-size: 11px;
    color: $mid-gray;
    margin-left: auto;

    @extend %flex-align-center;
  }

  .email-subject {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 85%;

    @extend %text-overflow-ellipsis;
  }

  .email-text {
    font-size: 13px;
    color: $mid-gray;
  }
}
