@import '../../../styles/core/variables';

.navbar-item {
  display: flex;

  font-size: 13px;
  padding: 10px 20px;
  color: $alto;

  &.active {
    background-color: $bright-gray;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

.navbar-item-icon {
  display: inline-block;
  color: $mid-gray;
  text-align: center;
  width: 20px;
}

.navbar-item-content {
  margin-left: 5px;
}

.badge {
  margin-left: auto;
}
