@import '../../styles/core/variables';

.folder-list {
  color: $alto;
}

.folder-list-legend {
  font-size: 12px;
  padding-left: 20px;
  color: $mid-gray;
}

.folder-list-items {
  font-size: 13px;
}
