@import '../../styles/core/variables';

.navbar-link-group {
  margin-bottom: 20px;
  text-transform: uppercase;

  .navbar-item-icon {
    color: $alto;
  }
}

.navbar-list {
  svg[data-icon="thumbtack"] path {
    fill: $international-orange;
  }

  svg[data-icon="archive"] path {
    fill: $apple;
  }
}

.navbar-list-legend {
  padding-left: 20px;
}
