@import '../../styles/core/variables';

.navbar {
  margin-top: 20px;
}

.navbar-link {
  text-transform: uppercase;

  .navbar-item-icon {
    color: $alto;
  }
}

.navbar-list {
  svg[data-icon="thumbtack"] path {
    fill: $international-orange;
  }

  svg[data-icon="archive"] path {
    fill: $apple;
  }

  svg[data-icon="trash-alt"] path {
    fill: $cardinal;
  }
}

.navbar-list-legend {
  margin-top: 20px;
  padding-left: 20px;
}
