@import '../styles/core/variables';

.main {
  display: flex;
  align-items: stretch;
  height: 100%;

  .side-bar {
    background-color: $mirage;
  }

  div {
    border: 1px solid black;
    flex: 1 1 50%;
  }
}
