@import '../styles/core/variables';

.main {
  display: flex;
  align-items: stretch;
  height: 100%;

  .side-bar {
    background-color: $mirage;
  }

  .email-list-wrapper {
    background-color: $white;
    border-right: 1px solid $alto;
  }

  > div {
    flex: 1 1 50%;
  }
}
