@import '../../styles/core/variables';

.side-bar-list li {
  padding: 10px 20px;
}

.item-icon {
  display: inline-block;
  color: $mid-gray;
  text-align: center;
  width: 20px;
}

.item-title {
  margin-left: 5px;
}
