@import '../../styles/core/variables';

.item {
  padding: 10px 20px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    .item-icon {
      color: $alto;
    }
  }
}

.item-icon {
  display: inline-block;
  color: $mid-gray;
  text-align: center;
  width: 20px;
}

.item-title {
  margin-left: 5px;
}
